<!--inventory - should open add.html
    login
    sign up
    modify items&remove items
    
-->
<html>

<head>
  <title>Home page</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}" />
  <script src="{{ url_for('static',filename='javascript/jsc.js')}}"></script>
  <script src="jsc.js"></script>
</head>

<body>
  <div class="container">
    <div class="heading">
      <p>Inventory Management System</p>
    </div>
    <div class="form">
      <h1 style="margin: 20px;">Welcome to our INVENTORY MANAGEMENT SYSYTEM !!</h1>
      <form action="\loginpage" class="input-boxes" >
        <input class="button" type="submit" value="Log In">
      </form>
      <form action="/signuppage" class="input-boxes" style="margin-top: -20px;" >
        <input class="button" type="submit" value="Sign Up">
      </form>
    </div>
  </div>
</body>

</html>